<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       
<bean id="loginInterceptor" class="org.xjtusicd3.portal.interceptor.LoginInterceptor"></bean>
<bean id="loginTarget" class="org.xjtusicd3.portal.test.LoginImpl"></bean>
<bean id="login" class="org.springframework.aop.framework.ProxyFactoryBean">
  <property name="proxyInterfaces">
    <value>org.xjtusicd3.portal.test.ILogin</value>
  </property>
  <property name="interceptorNames">
    <list>
     <value>loginInterceptor</value>
   </list>
  </property>
  <property name="target">
    <ref bean="loginTarget"/>
  </property>
</bean>
</beans>